body {
    background-color: cadetblue;
    min-width: 1200px;
    width:auto;}

h1{
    margin: 20px;
    font-size: 40px;
    color: lightgoldenrodyellow;}

section {
    display: flex;}

#panel-boczny {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightyellow;
    margin: 10px;
    padding: 15px;
    border: solid lightskyblue 1px;
    border-radius: 15px;}

#panel-wyniki {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 10px;
    padding: 15px;
    border: double lightskyblue 4px;
    border-radius: 15px;}

#ramka {
    padding: 10px;
    margin: 4px;
    border: solid 1px;
    border-radius: 15px;}

#ramka-jpg {
    padding: 20px;
    margin: 4px;
    border: solid 1px;
    border-radius: 15px;}

.wyniki-ng {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: lightyellow;
    margin: 10px;
}

#wyniki-op {
    text-align: center;
    color: lightgoldenrodyellow;
}